---
interface Props {
    id: string;
    title: string;
    imageUrl: string;
    available: boolean;
    category: 'art' | 'fashion' | 'wydarzenia';
    slug: string;
}

const { title, imageUrl, available, category, slug } = Astro.props;
---

<div class="relative overflow-hidden group rounded-lg shadow-lg transition-all hover:shadow-2xl">
    <a href={`/${category}/${slug}`} class="block">
        <!-- Obraz -->
        <img
                src={imageUrl}
                alt={title}
                class="w-full h-[300px] sm:h-[400px] object-cover transition-transform duration-300 group-hover:scale-110"
        />

        <!-- Wstążka dostępności -->
        <div
                class={`absolute top-0 left-0 bg-${
                    available ? 'green-500' : 'red-500'
                } text-white text-xs font-bold px-4 py-1 transform -rotate-45 translate-x-[-20px] translate-y-[20px]`}
        >
            {available ? 'Dostępny' : 'Niedostępny'}
        </div>

        <!-- Opis -->
        <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black via-black/70 to-transparent text-white p-4">
            <h3 class="text-xl font-bold font-serif tracking-wide group-hover:text-secondary transition-colors duration-300">
                {title}
            </h3>
        </div>
    </a>
</div>
